<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', { title: 'Lorem Ipsum Blog', stylesheet: '/styles/blog.css' }) %>

<body>
    <%- include('./partials/header.ejs') %>
    <section class="blog-cards">
        <% posts.forEach(post => { %>
        <div class="blog-card">
            <img src=<%= post.featuredImage.node.sourceUrl %> class="featured-image"
                alt=<%= post.featuredImage.node.altText %> loading="lazy" />
            <div class="blog-card-title-wrapper">
                <a href='/blog/<%= post.slug %>' class="blog-card-title">
                    <%= post.title  %>
                </a>
            </div>

        </div>
        <% }) %>
    </section>
    <%- include('./partials/footer.ejs') %>
</body>

</html>